---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Lorena Marchesin" description="About Lorena Marchesin Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<section>
				<h2 class="section-title">Intro</h2>
				<div class="content">
					<p>
						Born and raised in Italy I moved to Toronto, Canada in 2016.<br/>
						In 2023 I decided to move back to Europe and chose Amsterdam as the city I want to live in and I am now 
						looking for new opportunities.
						</p>
						<p>
						
						As a dedicated Full Stack Developer, I've played integral roles in CMS solutions and e-commerce projects for 
						Toronto-based firms. 
						Proven expertise in Kentico, BigCommerce, and diverse front-end technologies. 
						Passionate about advancing front-end skills, currently exploring Angular and eager to apply newfound knowledge in future projects.

					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					
					<div class="div-2-col"> 
						<div> 
							<strong><a href="https://www.beapartof.com/" target="_blank">Be A Part Of</a> (Acq. <a href="https://getfastr.com/" target="_blank">Zmags Corp</a>) </strong><br/>
							Frontend Developer<br/>
						</div>
						<div class="right"> 
							Toronto, Ontario, Canada<br/>
							Feb 2022 - Sep 2023
						</div>					
					</div>
					
					<p>

					During my tenure at Be A Part Of, a leading Toronto-based company specializing in the development of cutting-edge e-commerce sites using <a href="https://www.bigcommerce.com/" target="_blank">BigCommerce</a>, I served as a dedicated Front-End Developer. At the forefront of my responsibilities was a pivotal project with Ametek, a prominent client, where I played a pivotal role in crafting a versatile and scalable theme.
					
					</p>
					<ul>
						<li>
						At the forefront of my responsibilities was a pivotal project with Ametek, a prominent client, where I played a pivotal role in crafting a versatile and scalable theme.
						</li>
						<li>
						Led the front-end development efforts, tasked with creating a theme that could be seamlessly integrated and customized across a network of over 100 e-commerce sites.
						</li>
						<li>Integrated third-party applications like Bundle B2B, Klaviyo, and Yotpo to enhance the functionality and user experience of the e-commerce sites.
						</li>
						<li>Utilized Git repositories for version control, ensuring a collaborative and organized development process.
						</li>
						<li>Worked with designs created in Figma, contributing to the design process and ensuring seamless translation from design to implementation.
						</li>
						<li>Leveraged Postman for API calls, facilitating effective communication and integration with various backend services.
						</li>
						<li>Utilized Asana for project management, ensuring a structured and efficient workflow throughout the software development lifecycle.
						</li>
						<li>Employed advanced skills in BigCommerce, HTML, CSS, and JavaScript to design and implement a feature-rich, user-friendly theme that aligned with Ametek's brand identity and met the diverse needs of their product range.
						</li>
						<li>Successfully delivered a robust and scalable theme, integrating third-party applications seamlessly and enhancing the overall functionality of the e-commerce sites.
						</li>
						<li>The collaborative use of Git, Figma, Postman, and Asana contributed to a well-coordinated development process, resulting in timely project delivery and client satisfaction.
						</li>
						<li>Played a key role in elevating Be A Part Of's reputation for delivering tailored, high-quality e-commerce solutions, contributing to the company's success in a competitive market.
						</li>
						<li>Used Lighthouse and other tools to improve performances, speed, accessibility and SEO. Checking for image sizes and format to load the site with the best performance and quality, preloading the hero image and implementing lazy loading for other images.
						</li>
					</ul>

					<p>
					<strong>Technologies</strong>: <a href="https://www.bigcommerce.com/" target="_blank">BigCommerce</a>, Javascript, JQuery, Node.js, Angular, GraphQL, HTML, CSS, Less, Sass, Figma, GIT, Asana, React, AWS, Postman.

					<br/><br/><br/>
					</p>



					<div class="div-2-col"> 
						<div> 
							<strong><a href="https://www.inorbital.com/" target="_blank">Inorbital</a></strong><br/>
							Full-stack Developer<br/>
						</div>
						<div class="right"> 
							Toronto, Canada  <br/>  Sep 2016 - Apr 2022 
						</div>					
					</div>
						<p>
						At Inorbital, specializing in <a href="https://www.kentico.com/" target="_blank">Kentico</a> CMS based in .NET for dynamic websites, I played a pivotal role in end-to-end development and direct client communication. My focus centered on a specific client, where I contributed to creating essential registration forms for their events.
						</p>
						<ul>
							<li>Collaborated closely with aNd, an event organization company, to understand their unique requirements for dynamic and interactive websites, including registration forms for conferences and events.
							</li>
							<li>Engaged in full-stack development using modern technologies, including HTML, CSS, JavaScript, C#, and .NET, to build robust and responsive websites.
							</li>
							<li>Led the design and implementation of secure and user-friendly registration forms, integrating payment gateways, generating comprehensive reports, and managing confirmation email functionalities.
							</li>
							<li>Implemented CSS and JavaScript animations, exploring various plugins and libraries to enhance the visual appeal and user engagement of the websites.
							</li>
							<li>Took a proactive approach to improve overall website performance, staying updated with the latest security measures and technological advancements.
							</li>
							<li>Led efforts to achieve AODA compliance, utilizing tools such as Powermapper and SiteImprove, reaching Level AA standards for accessibility.
							</li>
							<li>Conducted thorough analysis of SQL queries, optimizing them to reduce request times, and actively participated in security testing.
							</li>
							<li>Successfully delivered end-to-end solutions, from server-side development to crafting responsive user interfaces, meeting aNd's specific needs and enhancing their event management processes.
							</li>
							<li>Achieved AODA compliance, ensuring accessibility in both front-end and back-end aspects of the websites.
							</li>
							<li>Optimized SQL queries and implemented security measures, contributing to improved overall website performance and enhanced security protocols.
							</li>
							<li>Played a central role in establishing Inorbital as a comprehensive full-stack development provider, specializing in Kentico and .NET environments. Contributed significantly to client satisfaction and the successful delivery of projects through effective communication and versatile technical skills.
							</li>
						</ul>
						<p>
						<strong>Technologies</strong>: <a href="https://www.kentico.com/" target="_blank">Kentico</a>, .NET (C#) Core, MVC, ASP.NET Web API, HTML, CSS, Javascript, JQuery, React, Adobe XD, InDesign, Azure Cloud, MS SQL Server

						<br/><br/><br/>
						</p>


					<div class="div-2-col"> 
						<div> 
							<strong><a href="https://www.eng.it/en/" target="_blank">Engineering Ingegneria Informatica Spa</a></strong><br/>
							Intern and then Junior Java Developer<br/>
						</div>
						<div class="right"> 
							Venezia, Italia  <br/>  Feb 2014 - Jun 2016 <br/>
						</div>					
					</div>
					<p>

					As a Developer at Engineering Ingegneria Informatica Spa I specialized in crafting Java applications for healthcare settings. My role encompassed the development of robust solutions for hospitals and pharmacies, involving hands-on work with Java, HTML, CSS, and JS, utilizing libraries like Bootstrap and Hibernate.
					</p>
					<ul>
						<li>Developed Java applications tailored for use in hospitals and pharmacies, ensuring secure handling and preservation of sensitive healthcare data.
						</li>
						<li>Engaged in full-stack development using Java, HTML, CSS, and JS, incorporating Bootstrap and Hibernate libraries to create efficient and user-friendly applications.
						</li>
						<li>Conducted troubleshooting for operational and functional issues, providing code fixes, deploying patches, and maintaining system integrity.
						</li>
						<li>Executed thorough testing procedures and generated detailed documentation, including user manuals, to support the developed software and enhance user understanding.
						</li>
						<li>Applied expertise in SQL queries to optimize speed, particularly handling substantial quantities of big data.
						</li>
						<li>Delivered robust and secure Java applications for healthcare settings, ensuring the efficient handling of sensitive data.
						</li>
						<li>Successfully improved websites and applications' security, mitigating the risks of hacking injections and attacks.
						</li>
						<li>Played a vital role in Engineering Ingegneria Informatica Spa's commitment to providing cutting-edge solutions for the healthcare sector. Contributed to enhanced data security and system efficiency, reinforcing the company's reputation for delivering high-quality software solutions.
						</li>
					</ul>
					<p>
					<strong>Technologies</strong>: Java, Hibernate, Microsoft SQL Server, HTML, CSS, Javascript, JQuery, Adobe XD
					<br/><br/><br/>
					</p>

				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
<strong>Graphic Design for Beginners</strong><br/>
University of Arts London <br/>
London, UK<br/>
Sept 2023
<br/><br/>
<strong>Object-Oriented Development Course</strong><br/>
Course and Internship <br/>
Padua, Italy<br/>
2013

				<br/><br/>
					<strong>Università degli Studi di Udine</strong> <br/>
Bachelor’s Degree, Tecnologie web e multimediali<br/>
2009 - 2013<br/>
Grade: 94/110<br/><br/>


<strong>University of Leeds</strong> <br/>
Erasmus exchange program, Information Technology<br/>
2011 - 2012<br/>
5/5 exams
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
	p{
		margin: 20px 0;
	}
	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}
	.div-2-col{
		display: flex;
		justify-content: space-between;
	}
	.right{
		text-align:right;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
